.main_container::-webkit-scrollbar {
  width: var(--sb-size);
}

.main_container::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 1px;
}

.main_container::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 1px;
}

@supports not selector(::-webkit-scrollbar) {
  .main_container {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
